* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#homepage {
    background: url(img/homepageImage.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    width: 80%;
    margin: auto;
}

.nav-logo a {
    font-family: 'Kaushan Script', cursive;
    font-size: 28px;
    color: #6b65e7;
    text-decoration: none;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    width: 35%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #6b65e7;
    text-decoration: none;
}

.menu {
    display: none;
}

/* -- Homepage Section -- */
.homepage-content {
    display: flex;
    align-items: center;
    width: 80%;
    height: 80vh;
    margin: auto;
}

.small-img img {
    display: none;
}

.greetings {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: rgb(117, 133, 187);
}

.name {
    font-family: Montserrat, sans-serif;
    font-size: 70px;
    color: #6b65e7;
}

.wid {
    font-family: Montserrat, sans-serif;
    font-size: 70px;
    color: rgb(117, 133, 187);
}

.sub {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    letter-spacing: 0.7px;
    line-height: 1.7;
    color: rgb(117, 133, 187);
    width: 80%;
    margin: 20px 0 80px;
}

.resume {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    color: #6b65e7;
    text-decoration: none;
    border: 2px solid #6b65e7;
    padding: 13px 28px;
}

/* -- ABOUT-ME-SECTION -- */
#about-me {
    text-align: center;
    background: linear-gradient(90deg, rgba(70,115,221,1) 9%, rgba(127,92,219,1) 84%);
    padding: 50px 0;
}

#about-me h1 {
    font-family: Montserrat, sans-serif;
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 2px;
    color: white;
    margin-bottom: 50px;
}

.about-boxes {
    width: 80%;
    margin: auto;
}

.about-boxes div {
    background: white;
    border-radius: 10px;
    padding: 50px 20px;
}

.about-boxes h2 {
    font-family: 'Poppins', sans-serif;
    color: #1c2326;
}

.about-boxes img {
    width: 130px;
    height: 130px;
    margin: 20px 0;
}

.about-boxes p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    letter-spacing: 0.7px;
    line-height: 1.7;
    width: 70%;
    margin: auto;
}

.ps {
    margin: 30px 0;
}

/* -- PROJECTS -- */
#projects {
    padding: 50px 0;
}

#projects h1 {
    font-family: Montserrat, sans-serif;
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 2px;
    text-align: center;
    color: #6b65e7;
    margin-bottom: 50px;
}

.proj-container {
    width: 80%;
    margin: auto;
}

.website {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.webs-sub h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.webs-sub p {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.7px;
    margin-bottom: 30px;
}

.live {
    font-family: 'Poppins', sans-serif;
    color: #6b65e7;
    text-decoration: none;
    border: 1px solid #6b65e7;
    padding: 8px 17px;
    margin-right: 15px;
}

.code {
    font-family: 'Poppins', sans-serif;
    color: #6b65e7;
    text-decoration: none;
}

.webs-img img {
    border-radius: 10px;
    width: 500px;
    margin-left: 30px;
}

.restaurant-app {
    display: flex;
    align-items: center;
}

.restau-sub h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.restau-sub p {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.7px;
    margin-bottom: 30px;
}

.restau-img img {
    border-radius: 10px;
    width: 500px;
    margin-left: 30px;
}

/* -- CONTACT -- */
#contact {
    background: url(img/contactBackground.svg) center bottom/cover no-repeat;
    padding: 80px 0 100px;
}

.contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-content h1 {
    font-family: Montserrat, sans-serif;
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 2px;
    color: white;
    margin-bottom: 20px;
}

.contact-content p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    letter-spacing: 0.7px;
    line-height: 1.7;
    color: white;
    width: 70%;
    margin: 0 auto 40px;
}

.contact-content a {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: white;
    border: 2px solid;
    padding: 12px 28px;
}

/* -- FOOTER -- */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    width: 80%;
    padding: 70px 0;
    margin: 0 auto;
}

.social-links img {
    width: 45px;
    margin: 0 15px;
}

hr {
    border: 1px solid #6b65e7;
    width: 60%;
    margin: 10px auto 20px;
}

.copyright {
    color: #6b65e7;
    user-select: none;
}