@media screen and (max-width: 2880px) {
    #homepage {
        height: 85vh;
    }

    nav {
        width: 55%;
        min-height: 12vh;
    }
    
    .nav-logo a {
        font-size: 38px;
    }
    
    .nav-links {
        width: 30%;
    }
    
    .nav-links a {
        font-size: 25px;
    }
    
    /* -- Homepage Section -- */
    .homepage-content {
        width: 55%;
        height: 65vh;
    }
    
    .greetings {
        font-size: 20px;
    }
    
    .name {
        font-size: 90px;
    }
    
    .wid {
        font-size: 90px;
    }
    
    .sub {
        font-size: 24px;
        width: 60%;
        margin: 10px 0 50px;
    }
    
    .resume {
        font-size: 25px;
        border: 2px solid #6b65e7;
        padding: 10px 28px;
    }
    
    /* -- ABOUT-ME-SECTION -- */
    #about-me h1 {
        font-size: 45px;
    }

    .about-boxes {
        display: flex;
        width: 60%;
    }
    
    .about-boxes div {
        padding: 40px 20px;
        width: 100%;
    }
    
    .about-boxes h2 {
        font-size: 29px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .about-boxes img {
        width: 140px;
        height: 140px;
        margin: 30px 0;
    }
    
    .about-boxes p {
        font-size: 20px;
        width: 95%;
    }
    
    .ps {
        margin: 0 20px;
    }
    
    /* -- PROJECTS -- */
    #projects h1 {
        font-size: 45px;
    }
    
    .proj-container {
        width: 55%;
        margin: auto;
    }
    
    .website {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
    }
    
    .webs-sub h3 {
        font-size: 28px;
    }
    
    .webs-sub p {
        font-size: 19px;
        width: 80%;
        margin-top: 5px;
    }
    
    .live {
        font-size: 20px;
        padding: 7px 23px;
    }
    
    .code {
        font-size: 20px;
    }
    
    .webs-img img {
        border-radius: 10px;
        width: 650px;
        margin-left: 30px;
    }
    
    .restaurant-app {
        display: flex;
        align-items: center;
    }
    
    .restau-sub h3 {
        font-size: 28px;
    }
    
    .restau-sub p {
        font-size: 19px;
        width: 80%;
        margin-top: 5px;
    }
    
    .restau-img img {
        border-radius: 10px;
        width: 650px;
        margin-left: 30px;
    }
    
    /* -- CONTACT -- */
    #contact {
        padding: 80px 0 100px;
    }
    
    .contact-content h1 {
        font-size: 40px;
    }
    
    .contact-content p {
        font-size: 21px;
        width: 35%;
        margin: 10px auto 40px;
    }
    
    .contact-content a {
        font-size: 22px;
        border: 2px solid;
        padding: 8px 29px;
    }
    
    /* -- FOOTER -- */
    footer {
        padding: 40px 0;
    }
    
    .social-links img {
        width: 50px;
        margin: 0 18px;
    }
    
    .copyright {
        font-size: 17px;
    }
}

@media screen and (max-width: 1920px) {
    #homepage {
        height: 85vh;
    }

    nav {
        width: 70%;
        min-height: 12vh;
    }
    
    .nav-logo a {
        font-size: 35px;
    }
    
    .nav-links {
        width: 35%;
    }
    
    .nav-links a {
        font-size: 23px;
    }
    
    /* -- Homepage Section -- */
    .homepage-content {
        width: 70%;
        height: 65vh;
    }
    
    .greetings {
        font-size: 20px;
    }
    
    .name {
        font-size: 90px;
    }
    
    .wid {
        font-size: 90px;
    }
    
    .sub {
        font-size: 24px;
        width: 60%;
        margin: 10px 0 50px;
    }
    
    .resume {
        font-size: 25px;
        border: 2px solid #6b65e7;
        padding: 10px 28px;
    }
    
    /* -- ABOUT-ME-SECTION -- */
    #about-me h1 {
        font-size: 45px;
    }

    .about-boxes {
        display: flex;
        width: 75%;
    }
    
    .about-boxes div {
        padding: 40px 20px;
        width: 100%;
    }
    
    .about-boxes h2 {
        font-size: 29px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .about-boxes img {
        width: 140px;
        height: 140px;
        margin: 30px 0;
    }
    
    .about-boxes p {
        font-size: 20px;
        width: 95%;
    }
    
    .ps {
        margin: 0 20px;
    }
    
    /* -- PROJECTS -- */
    #projects h1 {
        font-size: 45px;
    }
    
    .proj-container {
        width: 70%;
        margin: auto;
    }
    
    .website {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
    }
    
    .webs-sub h3 {
        font-size: 28px;
    }
    
    .webs-sub p {
        font-size: 19px;
        width: 80%;
        margin-top: 5px;
    }
    
    .live {
        font-size: 20px;
        padding: 7px 23px;
    }
    
    .code {
        font-size: 20px;
    }
    
    .webs-img img {
        border-radius: 10px;
        width: 650px;
        margin-left: 30px;
    }
    
    .restaurant-app {
        display: flex;
        align-items: center;
    }
    
    .restau-sub h3 {
        font-size: 28px;
    }
    
    .restau-sub p {
        font-size: 19px;
        width: 80%;
        margin-top: 5px;
    }
    
    .restau-img img {
        border-radius: 10px;
        width: 650px;
        margin-left: 30px;
    }
    
    /* -- CONTACT -- */
    #contact {
        padding: 80px 0 100px;
    }
    
    .contact-content h1 {
        font-size: 40px;
    }
    
    .contact-content p {
        font-size: 21px;
        width: 50%;
        margin: 10px auto 40px;
    }
    
    .contact-content a {
        font-size: 22px;
        border: 2px solid;
        padding: 8px 29px;
    }
    
    /* -- FOOTER -- */
    footer {
        padding: 40px 0;
    }
    
    .social-links img {
        width: 50px;
        margin: 0 18px;
    }
    
    .copyright {
        font-size: 17px;
    }
}

@media screen and (max-width: 1600px) {
    #homepage {
        height: 85vh;
    }

    nav {
        width: 70%;
        min-height: 12vh;
    }
    
    .nav-logo a {
        font-size: 32px;
    }
    
    .nav-links {
        width: 35%;
    }
    
    .nav-links a {
        font-size: 21.5px;
    }
    
    /* -- Homepage Section -- */
    .homepage-content {
        width: 70%;
        height: 65vh;
    }
    
    .greetings {
        font-size: 17px;
    }
    
    .name {
        font-size: 70px;
    }
    
    .wid {
        font-size: 70px;
    }
    
    .sub {
        font-size: 19px;
        width: 60%;
        margin: 10px 0 50px;
    }
    
    .resume {
        font-size: 20px;
        border: 2px solid #6b65e7;
        padding: 9px 24px;
    }
    
    /* -- ABOUT-ME-SECTION -- */
    #about-me h1 {
        font-size: 45px;
    }

    .about-boxes {
        display: flex;
        width: 80%;
    }
    
    .about-boxes div {
        padding: 40px 20px;
        width: 100%;
    }
    
    .about-boxes h2 {
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .about-boxes img {
        width: 130px;
        height: 130px;
        margin: 30px 0;
    }
    
    .about-boxes p {
        font-size: 17px;
        width: 95%;
    }
    
    .ps {
        margin: 0 20px;
    }
    
    /* -- PROJECTS -- */
    #projects h1 {
        font-size: 45px;
    }
    
    .proj-container {
        width: 80%;
        margin: auto;
    }
    
    .website {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
    }
    
    .webs-sub h3 {
        font-size: 25px;
    }
    
    .webs-sub p {
        font-size: 17px;
        margin-top: 5px;
    }
    
    .live {
        font-size: 18px;
        padding: 7px 23px;
    }
    
    .code {
        font-size: 18px;
    }
    
    .webs-img img {
        border-radius: 10px;
        width: 600px;
        margin-left: 30px;
    }
    
    .restaurant-app {
        display: flex;
        align-items: center;
    }
    
    .restau-sub h3 {
        font-size: 25px;
    }
    
    .restau-sub p {
        font-size: 17px;
        margin-top: 5px;
    }
    
    .restau-img img {
        border-radius: 10px;
        width: 600px;
        margin-left: 30px;
    }
    
    /* -- CONTACT -- */
    #contact {
        padding: 80px 0 100px;
    }
    
    .contact-content h1 {
        font-size: 40px;
    }
    
    .contact-content p {
        font-size: 19px;
        width: 50%;
        margin: 10px auto 35px;
    }
    
    .contact-content a {
        font-size: 22px;
        border: 2px solid;
        padding: 7px 23px;
    }
    
    /* -- FOOTER -- */
    footer {
        padding: 40px 0;
    }
    
    .social-links img {
        width: 45px;
        margin: 0 15px;
    }
    
    .copyright {
        font-size: 16px;
    }
}

@media screen and (max-width: 1366px) {
    #homepage {
        height: 100vh;
    }

    nav {
        width: 80%;
        min-height: 12vh;
    }
    
    .nav-logo a {
        font-size: 28px;
    }
    
    .nav-links {
        width: 30%;
    }
    
    .nav-links a {
        font-size: 18px;
    }
    
    /* -- Homepage Section -- */
    .homepage-content {
        width: 80%;
        height: 80vh;
    }
    
    .greetings {
        font-size: 15px;
    }
    
    .name {
        font-size: 65px;
    }
    
    .wid {
        font-size: 65px;
    }
    
    .sub {
        font-size: 17px;
        width: 65%;
        margin: 5px 0 50px;
    }
    
    .resume {
        font-size: 18px;
        border: 2px solid #6b65e7;
        padding: 9px 24px;
    }
    
    /* -- ABOUT-ME-SECTION -- */
    #about-me h1 {
        font-size: 45px;
    }

    .about-boxes {
        display: flex;
        width: 85%;
    }
    
    .about-boxes div {
        padding: 40px 20px;
    }
    
    .about-boxes h2 {
        font-size: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .about-boxes img {
        width: 110px;
        height: 110px;
        margin: 20px 0;
    }
    
    .about-boxes p {
        font-size: 15.5px;
        width: 95%;
    }
    
    .ps {
        margin: 0 20px;
    }
    
    /* -- PROJECTS -- */
    #projects h1 {
        font-size: 45px;
    }
    
    .proj-container {
        width: 80%;
        margin: auto;
    }
    
    .website {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
    }
    
    .webs-sub h3 {
        font-size: 22px;
    }
    
    .webs-sub p {
        font-size: 16px;
        margin-top: 5px;
    }
    
    .live {
        padding: 7px 23px;
    }
    
    .code {
        font-family: 'Poppins', sans-serif;
        color: #6b65e7;
        text-decoration: none;
    }
    
    .webs-img img {
        border-radius: 10px;
        width: 500px;
        margin-left: 30px;
    }
    
    .restaurant-app {
        display: flex;
        align-items: center;
    }
    
    .restau-sub h3 {
        font-size: 22px;
    }
    
    .restau-sub p {
        font-size: 16px;
        margin-top: 5px;
    }
    
    .restau-img img {
        border-radius: 10px;
        width: 500px;
        margin-left: 30px;
    }
    
    /* -- CONTACT -- */
    #contact {
        padding: 80px 0 100px;
    }
    
    .contact-content h1 {
        font-size: 40px;
    }
    
    .contact-content p {
        font-size: 17px;
        width: 55%;
        margin: 10px auto 35px;
    }
    
    .contact-content a {
        font-size: 20px;
        border: 2px solid;
        padding: 7px 23px;
    }
    
    /* -- FOOTER -- */
    footer {
        padding: 40px 0;
    }
    
    .social-links img {
        width: 35px;
        margin: 0 10px;
    }
    
    .copyright {
        font-size: 15px;
    }
}

@media screen and (max-width: 1024px) {
    #homepage {
        height: 80vh;
    }

    .nav-logo a {
        font-size: 35px;
    }
    
    .nav-links {
        width: 40%;
    }
    
    .nav-links a {
        font-size: 23px;
    }
    
    /* -- Homepage Section -- */
    .homepage-content {
        height: 60vh;
    }

    .greetings {
        font-size: 21px;
    }

    .name {
        font-size: 80px;
    }

    .sub {
        font-size: 23px;
    }
    
    .resume {
        font-size: 23px;
        font-weight: 800;
    }

    /* -- ABOUT-ME-SECTION -- */
    .about-boxes {
        width: 80%;
        margin: auto;
    }
    
    .about-boxes div {
        background: white;
        border-radius: 10px;
        padding: 50px 20px;
    }
    
    .about-boxes h2 {
        font-size: 30px;
    }
    
    .about-boxes p {
        font-size: 20px;
        width: 80%;
    }
    
    .ps {
        margin: 30px 0;
    }
    
    /* -- PROJECTS -- */
    #projects {
        padding: 50px 0;
    }
    
    #projects h1 {
        font-family: Montserrat, sans-serif;
        font-size: 50px;
        font-weight: 800;
        letter-spacing: 2px;
        text-align: center;
        color: #6b65e7;
        margin-bottom: 50px;
    }
    
    .proj-container {
        width: 80%;
        margin: auto;
    }
    
    .website {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

    .webs-sub {
        width: 100%;
        margin-bottom: 40px;
    }
    
    .webs-sub h3 {
        font-size: 28px;
    }
    
    .webs-sub p {
        font-size: 21px;
        width: 80%;
        margin-bottom: 30px;
    }
    
    .live {
        font-size: 22px;
        padding: 8px 26px;
        margin-right: 15px;
    }
    
    .code {
        font-size: 22px;
    }
    
    .webs-img img {
        width: 100%;
        margin-left: auto;
    }
    
    .restaurant-app {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .restau-sub {
        margin-bottom: 40px;
    }
    
    .restau-sub h3 {
        font-size: 28px;
    }
    
    .restau-sub p {
        font-size: 21px;
        width: 80%;
        margin-bottom: 30px;
    }

    .restau-img {
        width: 100%;
    }
    
    .restau-img img {
        width: 100%;
        margin-left: auto;
    }
    
    /* -- CONTACT -- */
    .contact-content p {
        font-size: 22px;
    }
    
    .contact-content a {
        font-size: 22px;
        padding: 12px 30px;
    }
    
    /* -- FOOTER -- */
    .copyright {
        font-size: 17px;
    }
}