@media screen and (max-width: 768px) {
    .nav-logo a {
        font-size: 25px;
    }
    
    .nav-links {
        position: absolute;
        right: 0px;
        height: 42vh;
        top: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        background: rgb(220, 223, 255);
        transform: translateY(-130%);
        transition: 0.5s ease-in;
    }
    
    .nav-links a {
        font-size: 20px;
    }
    
    .menu {
        display: block;
        cursor: pointer;
    }

    .bar-1, .bar-3 {
        background: #6b65e7;
        height: 4px;
        width: 32px;
        margin: 5px 0;
        transition: 0.6s;
    }

    .bar-2 {
        background: #6b65e7;
        height: 4px;
        width: 24px;
        margin: 5px 0 0 auto;
        transition: 0.6s;
    }

    .nav-active {
        transform: translateY(0%);
    }

    .toggle .bar-1 {
        transform: rotate(-45deg) translate(-6.5px, 6px);
    }

    .toggle .bar-2 {
        opacity: 0;
    }

    .toggle .bar-3 {
        transform: rotate(45deg) translate(-6.5px, -6px);
    }

    /* -- Homepage Section -- */
    .homepage-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 80%;
        height: 60vh;
        margin: auto;
    }

    .small-img img {
        display: block;
        width: 210px;
        margin: 0  0 20px;
    }

    .greetings {
        font-size: 16px;
    }

    .name {
        font-size: 50px;
    }

    .wid {
        font-size: 33px;
        margin-bottom: 40px;
    }

    .sub {
        display: none;
    }

    .resume {
        font-size: 22px;
        border: 2px solid #6b65e7;
        padding: 10px 26px;
    }

    /* -- ABOUT-ME -- */
    #about-me h1 {
        font-size: 40px;
        margin-bottom: 30px;
    }

    .about-boxes {
        display: flex;
        flex-direction: column;
    }
    
    .about-boxes div {
        padding: 20px;
    }

    .about-boxes h2 {
        font-size: 25px;
    }
    
    .about-boxes img {
        width: 110px;
        height: 110px;
        margin: 20px 0;
    }
    
    .about-boxes p {
        font-size: 16px;
        letter-spacing: 0.5px;
        line-height: 1.7;
        width: 80%;
        margin: auto;
    }
    
    .ps {
        margin: 30px 0;
    }
    
    /* -- PROJECTS -- */
    #projects h1 {
        font-size: 40px;
        margin-bottom: 30px;
    }

    .website {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

    .webs-sub {
        margin-bottom: 30px;
    }

    .webs-sub h3 {
        font-size: 21px;
    }

    .webs-sub p {
        font-size: 16px;
        width: 90%;
        margin-bottom: 25px;
    }

    .live {
        font-size: 16px;
        padding: 7px 19px;
    }

    .code {
        font-size: 16px;
    }

    .webs-img img {
        border-radius: 10px;
        width: 100%;
        margin: auto;
    }

    .restaurant-app {
        display: flex;
        flex-direction: column;
    }

    .restau-sub {
        margin-bottom: 30px;
    }

    .restau-sub h3 {
        font-size: 21px;
    }

    .restau-sub p {
        font-size: 16px;
        width: 90%;
        margin-bottom: 20px;
    }

    .restau-img img {
        width: 100%;
        margin: auto;
    }

    /* -- CONTACT -- */
    #contact {
        padding: 50px 0 70px;
    }

    #contact h1 {
        font-size: 35px;
    }

    .contact-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .contact-content h1 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .contact-content p {
        font-size: 16px;
        width: 70%;
        margin: 0 auto 30px;
    }

    .contact-content a {
        font-size: 17px;
        padding: 7px 23px;
    }

    /* -- FOOTER -- */
    footer {
        padding: 20px 0;
    }

    .social-links img {
        width: 40px;
        margin: 0 9px;
    }

    hr {
        width: 80%;
    }

    .copyright {
        font-size: 15px;
    }
}

@media screen and (max-width: 414px) {
    .nav-logo a {
        font-size: 22px;
    }
    
    .nav-links {
        position: absolute;
        right: 0px;
        height: 43vh;
        top: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        background: rgb(220, 223, 255);
        transform: translateY(-130%);
        transition: 0.5s ease-in;
    }
    
    .nav-links a {
        font-size: 17.5px;
    }
    
    .menu {
        display: block;
        cursor: pointer;
    }

    .bar-1, .bar-3 {
        background: #6b65e7;
        height: 3px;
        width: 27px;
        margin: 4px 0;
        transition: 0.6s;
    }

    .bar-2 {
        background: #6b65e7;
        height: 3px;
        width: 20px;
        margin: 4px 0 0 auto;
        transition: 0.6s;
    }

    .nav-active {
        transform: translateY(0%);
    }

    .toggle .bar-1 {
        transform: rotate(-45deg) translate(-4px, 6px);
    }

    .toggle .bar-2 {
        opacity: 0;
    }

    .toggle .bar-3 {
        transform: rotate(45deg) translate(-4px, -6px);
    }

    /* -- Homepage Section -- */
    #homepage {
        height: 100vh;
    }

    .homepage-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 80%;
        height: 80vh;
        margin: auto;
    }

    .small-img img {
        display: block;
        width: 160px;
        margin: 0  0 20px;
    }

    .greetings {
        font-size: 14px;
    }

    .name {
        font-size: 35px;
    }

    .wid {
        font-size: 27px;
        margin-bottom: 35px;
    }

    .sub {
        display: none;
    }

    .resume {
        font-size: 19px;
        border: 2px solid #6b65e7;
        padding: 8px 16px;
    }

    /* -- ABOUT-ME -- */
    #about-me h1 {
        font-size: 30px;
        margin-bottom: 30px;
    }
    
    .about-boxes div {
        padding: 20px;
    }

    .about-boxes h2 {
        font-size: 23px;
    }
    
    .about-boxes img {
        width: 100px;
        height: 100px;
        margin: 20px 0;
    }
    
    .about-boxes p {
        font-size: 14px;
        letter-spacing: 0.5px;
        line-height: 1.7;
        width: 100%;
        margin: auto;
    }
    
    .ps {
        margin: 30px 0;
    }
    
    /* -- PROJECTS -- */
    #projects h1 {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .website {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

    .webs-sub {
        margin-bottom: 30px;
    }

    .webs-sub h3 {
        font-size: 19px;
    }

    .webs-sub p {
        font-size: 13px;
        margin-bottom: 20px;
    }

    .live {
        font-size: 14px;
        padding: 5px 16px;
    }

    .code {
        font-size: 14px;
    }

    .webs-img img {
        border-radius: 10px;
        width: 100%;
        margin: auto;
    }

    .restaurant-app {
        display: flex;
        flex-direction: column;
    }

    .restau-sub {
        margin-bottom: 30px;
    }

    .restau-sub h3 {
        font-size: 19px;
    }

    .restau-sub p {
        font-size: 13px;
        margin-bottom: 20px;
    }

    .restau-img img {
        width: 100%;
        margin: auto;
    }

    /* -- CONTACT -- */
    #contact {
        padding: 50px 0 70px;
    }

    .contact-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .contact-content h1 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .contact-content p {
        font-size: 14px;
        width: 75%;
        margin: 0 auto 30px;
    }

    .contact-content a {
        font-size: 15px;
        padding: 7px 23px;
    }

    /* -- FOOTER -- */
    footer {
        padding: 20px 0;
    }

    .social-links img {
        width: 35px;
        margin: 0 7px;
    }

    hr {
        width: 80%;
    }

    .copyright {
        font-size: 14px;
    }
}

@media screen and (max-width: 375px) {
    .nav-logo a {
        font-size: 20px;
    }
    
    .nav-links {
        position: absolute;
        right: 0px;
        height: 43vh;
        top: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        background: rgb(220, 223, 255);
        transform: translateY(-130%);
        transition: 0.5s ease-in;
    }
    
    .nav-links a {
        font-size: 16px;
    }
    
    .menu {
        display: block;
        cursor: pointer;
    }

    .bar-1, .bar-3 {
        background: #6b65e7;
        height: 3px;
        width: 27px;
        margin: 4px 0;
        transition: 0.6s;
    }

    .bar-2 {
        background: #6b65e7;
        height: 3px;
        width: 20px;
        margin: 4px 0 0 auto;
        transition: 0.6s;
    }

    .nav-active {
        transform: translateY(0%);
    }

    .toggle .bar-1 {
        transform: rotate(-45deg) translate(-4px, 6px);
    }

    .toggle .bar-2 {
        opacity: 0;
    }

    .toggle .bar-3 {
        transform: rotate(45deg) translate(-4px, -6px);
    }

    /* -- Homepage Section -- */
    #homepage {
        height: 100vh;
    }

    .homepage-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 80%;
        height: 75vh;
        margin: auto;
    }

    .small-img img {
        display: block;
        width: 155px;
        margin: 0  0 20px;
    }

    .greetings {
        font-size: 13px;
    }

    .name {
        font-size: 30px;
    }

    .wid {
        font-size: 23px;
        margin-bottom: 30px;
    }

    .sub {
        display: none;
    }

    .resume {
        font-size: 16px;
        border: 2px solid #6b65e7;
        padding: 6px 15px;
    }

    /* -- ABOUT-ME -- */
    #about-me h1 {
        font-size: 30px;
        margin-bottom: 30px;
    }
    
    .about-boxes div {
        padding: 20px;
    }

    .about-boxes h2 {
        font-size: 20px;
    }
    
    .about-boxes img {
        width: 90px;
        height: 90px;
        margin: 20px 0;
    }
    
    .about-boxes p {
        font-size: 12px;
        letter-spacing: 0.5px;
        line-height: 1.7;
        width: 100%;
        margin: auto;
    }
    
    .ps {
        margin: 30px 0;
    }
    
    /* -- PROJECTS -- */
    #projects h1 {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .website {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

    .webs-sub {
        margin-bottom: 30px;
    }

    .webs-sub h3 {
        font-size: 18px;
    }

    .webs-sub p {
        font-size: 12px;
        margin-bottom: 20px;
    }

    .live {
        font-size: 13px;
        padding: 5px 16px;
    }

    .code {
        font-size: 13px;
    }

    .webs-img img {
        border-radius: 10px;
        width: 100%;
        margin: auto;
    }

    .restaurant-app {
        display: flex;
        flex-direction: column;
    }

    .restau-sub {
        margin-bottom: 30px;
    }

    .restau-sub h3 {
        font-size: 18px;
    }

    .restau-sub p {
        font-size: 12px;
        margin-bottom: 20px;
    }

    .restau-img img {
        width: 100%;
        margin: auto;
    }

    /* -- CONTACT -- */
    #contact {
        padding: 50px 0 70px;
    }

    .contact-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .contact-content h1 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .contact-content p {
        font-size: 13px;
        width: 75%;
        margin: 0 auto 30px;
    }

    .contact-content a {
        font-size: 15px;
        padding: 7px 23px;
    }

    /* -- FOOTER -- */
    footer {
        padding: 20px 0;
    }

    .social-links img {
        width: 30px;
        margin: 0 7px;
    }

    hr {
        width: 80%;
    }

    .copyright {
        font-size: 13px;
    }
}

@media screen and (max-width: 320px) {
    .nav-logo a {
        font-size: 20px;
    }
    
    .nav-links {
        position: absolute;
        right: 0px;
        height: 43vh;
        top: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        background: rgb(220, 223, 255);
        transform: translateY(-130%);
        transition: 0.5s ease-in;
    }
    
    .nav-links a {
        font-size: 15px;
    }
    
    .menu {
        display: block;
        cursor: pointer;
    }

    .bar-1, .bar-3 {
        background: #6b65e7;
        height: 3px;
        width: 27px;
        margin: 4px 0;
        transition: 0.6s;
    }

    .bar-2 {
        background: #6b65e7;
        height: 3px;
        width: 20px;
        margin: 4px 0 0 auto;
        transition: 0.6s;
    }

    .nav-active {
        transform: translateY(0%);
    }

    .toggle .bar-1 {
        transform: rotate(-45deg) translate(-4px, 6px);
    }

    .toggle .bar-2 {
        opacity: 0;
    }

    .toggle .bar-3 {
        transform: rotate(45deg) translate(-4px, -6px);
    }

    /* -- Homepage Section -- */
    #homepage {
        height: 100vh;
    }

    .homepage-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 80%;
        height: 80vh;
        margin: auto;
    }

    .small-img img {
        display: block;
        width: 130px;
        margin: 0  0 20px;
    }

    .greetings {
        font-size: 12px;
    }

    .name {
        font-size: 28px;
    }

    .wid {
        font-size: 21px;
        margin-bottom: 30px;
    }

    .sub {
        display: none;
    }

    .resume {
        font-size: 15px;
        border: 2px solid #6b65e7;
        padding: 6px 15px;
    }

    /* -- ABOUT-ME -- */
    #about-me h1 {
        font-size: 30px;
        margin-bottom: 30px;
    }
    
    .about-boxes div {
        padding: 20px;
    }

    .about-boxes h2 {
        font-size: 20px;
    }
    
    .about-boxes img {
        width: 90px;
        height: 90px;
        margin: 20px 0;
    }
    
    .about-boxes p {
        font-size: 12px;
        letter-spacing: 0.5px;
        line-height: 1.7;
        width: 100%;
        margin: auto;
    }
    
    .ps {
        margin: 30px 0;
    }
    
    /* -- PROJECTS -- */
    #projects h1 {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .website {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

    .webs-sub {
        margin-bottom: 30px;
    }

    .webs-sub h3 {
        font-size: 18px;
    }

    .webs-sub p {
        font-size: 12px;
        margin-bottom: 20px;
    }

    .live {
        font-size: 13px;
        padding: 5px 16px;
    }

    .code {
        font-size: 13px;
    }

    .webs-img img {
        border-radius: 10px;
        width: 100%;
        margin: auto;
    }

    .restaurant-app {
        display: flex;
        flex-direction: column;
    }

    .restau-sub {
        margin-bottom: 30px;
    }

    .restau-sub h3 {
        font-size: 18px;
    }

    .restau-sub p {
        font-size: 12px;
        margin-bottom: 20px;
    }

    .restau-img img {
        width: 100%;
        margin: auto;
    }

    /* -- CONTACT -- */
    #contact {
        padding: 50px 0 70px;
    }

    .contact-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .contact-content h1 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .contact-content p {
        font-size: 13px;
        width: 75%;
        margin: 0 auto 30px;
    }

    .contact-content a {
        font-size: 15px;
        padding: 7px 23px;
    }

    /* -- FOOTER -- */
    footer {
        padding: 20px 0;
    }

    .social-links img {
        width: 30px;
        margin: 0 7px;
    }

    hr {
        width: 80%;
    }

    .copyright {
        font-size: 13px;
    }
}